@model Nu3.Client.Models.IntakeInputModel
@{
    ViewBag.Title = "User details";
}

<div class="row" style="margin-bottom:20px">
    <div class="col-md-6">
        <h2>@(Model.User.Lastname), @Model.User.Firstname @Model.UserId</h2>
    </div>
    <div class="col-md-6" style="text-align:right">
        <a href="@Url.Action("Index", "Users")">
        <button type="button" class="btn btn-outline-success">
        <i class="fas fa-chevron-circle-left"></i> Back to users list</button></a>
        
</div>
    </div>
    <div class="row">
        <table class="table table-striped">
        <thead> 
        <tr>
            <th>Add intake</th>
            <th></th>
        </tr>
            </thead>
            @using (Html.BeginForm("Add", "Users", FormMethod.Post, new { id = Model.User.Id})) {
        <tr>
            <td><div style="margin-top:6px">Consumable</div></td>
            <td>

            @Html.DropDownListFor(m => m.Intake.ConsumableId, @Model.ConsumableList, "Select consumable", new {@class="form-control"})
            </td>
        </tr>

        <tr>
            <td><div style="margin-top:6px">Meal category</div></td>
            <td>       
            @Html.DropDownListFor(m => m.Intake.MealType, @Model.MealList, "Select meal category", new {@class="form-control"})
            </td>
        </tr>

		<tr>
            <td><div style="margin-top:6px">Amount (portion)</div></td>
            <td>       
            @Html.DropDownListFor(m => m.Intake.Amount, @Model.AmountList, "Select meal amount", new {@class="form-control"})
            </td>
        </tr>

		<tr>
            <td><div style="margin-top:6px">Date</div></td>
            <td>       
            (Now)
            </td>
        </tr>
		<tr>
            <td><div style="margin-top:6px"></div></td>
            <td><button type="submit" class="btn btn-outline-success">Save</button></td>
        </tr>

        
        }

        
        </table>
    </div>

